SERVER_IP=192.168.1.100
GAMESTREAM_IP=192.168.1.101
HTPC_IP=192.168.1.100

NEXT_PUBLIC_PLATFORM=PC
NEXT_PUBLIC_DENON_IP=192.168.1.252
NEXT_PUBLIC_ROKU_IP=192.168.1.222
NEXT_PUBLIC_SERVER_IP=192.168.1.100
NEXT_PUBLIC_GAMESTREAM_IP=192.168.1.101

DENON_HTTP_COMMAND_URL=goform/formiPhoneAppDirect.xml
DENON_HTTP_QUERY_URL=goform/formMainZone_MainZoneXml.xml
