# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local
.env

# vercel
.vercel

# SSL certificates
/server/certificates
/certificates

# Next-Pwa
public/sw.js
public/workbox-*

# backup of nutjs node module
.nutjs-backup
/vendor/@nut-tree/libnut/node_modules/.package-lock.json
/vendor/@nut-tree/nut-js/node_modules/.package-lock.json
/vendor/@nut-tree/libnut/package-lock.json
/vendor/@nut-tree/nut-js/package-lock.json
