[Unit]
Description=Update htpc-remote from git and restart
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
WorkingDirectory=%h/WebstormProjects/htpc-remote
ExecStart=/usr/bin/bash -lc 'git pull origin master && git diff HEAD@{1} --name-only | grep -q "^package\\.json$" && npm install --omit=dev || true'
ExecStartPost=/usr/bin/systemctl --user restart htpc-remote
